* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url(../images/background-pattern.png);
}
.inhoud{
    margin-left: 7.5%;
    margin-right: 7.5%;
    padding: 5px;
}
#bord{
    height: 200px;
}
