* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url(../images/background-pattern.png);
}
.midden {
  height: 100vh;
  width: 60%;
  margin: auto;
  padding-top: 25px;
  text-align: center;
}
h1 {
  color: #00979C;
}
#opd1 {
  *background-color: red;
  width: 100%;
  height: 250px;
  margin-top: 25px;
}
.opdrachttable {
  width: 99%;
  *background-color: blue;
  margin: auto;
}
