* {
  padding: 0px;
  margin: 0px;
}
body {
  background-image: url(../images/background-pattern.png);
}
.TextBox{
  margin-top: 8%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 5px;
  text-align: center;
}
h1{
  color: #00979C;
}
